[submodule "bundle/closetag.vim"]
	path = bundle/closetag.vim
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-command-w"]
	path = bundle/vim-command-w
	url = git://github.com/nathanaelkane/vim-command-w.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/numbers"]
	path = bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/LargeFile"]
	path = bundle/LargeFile
	url = git@github.com:vim-scripts/LargeFile.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = git@github.com:rking/ag.vim.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "bundle/vim-yaml"]
	path = bundle/vim-yaml
	url = git@github.com:avakhov/vim-yaml
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "bundle/solarized-truecolor"]
	path = bundle/solarized-truecolor
	url = git@github.com:frankier/neovim-colors-solarized-truecolor-only.git
[submodule "bundle/vim-terraform-completion"]
	path = bundle/vim-terraform-completion
	url = git@github.com:juliosueiras/vim-terraform-completion.git
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = git@github.com:neomake/neomake.git
